// colors
$lightColor: #5cc0be;
$white: #fff;
$body: #252f41;
$navyBlue: #1b2441;
$darkNavyBlue: #2b394f;

// blocks
$blockBackground: #1d2635;

// inputs
$inputBackground: #394c6a;
$inputBorder: #394c6a;
$inputBorderHover: $lightColor;
$inputTextColor: $lightColor;

// buttons
$btnBase: $body;
$btnBaseHover: $lightColor;
$btnSecond: $navyBlue;
$btnSecondHover: $darkNavyBlue;
$bodyBackground: $white;
$btnSecondText: $lightColor;

$borderFormColor: $btnSecond;
$textColor: $btnSecond;

$choosenTeams: $btnSecond;
$headerBackground: $btnSecondHover;
// $blockBackground: $bodyBackground;
$borderColor: $btnSecondHover;

// $btnBase: #35689c;
// $btnBaseHover: #03294f;
// $btnSecond: #0979e8;
// $btnSecondHover: #06519c;

// background colors
// $blockBackground: #85aed4;
// $choosenTeams: #021f3b;
// $bodyBackground: #3e7cb1;
// $headerBackground: #81a4cd;

// others colors
// $listItem: #bf3a22;
// $listItemHover: #802717;
// $borderColor: #03294f;
// $borderFormColor: #dbe4ee;
// $textColor: #44576e;
