.toastr {
	border-radius: 4px;
	padding: 12px 16px;
	font-size: 14px;
	margin: 5px 0px;

	&--success {
		background-color: #1a6e15;
		border: solid 1px #155724;
		color: white;
	}

	&--error {
		background-color: $lightColor;
		color: $darkNavyBlue;
		box-shadow: 0px 0px 6px 0px $navyBlue;
	}

	&__text {
		width: 100%;
		text-align: center;
		font-weight: bold;
	}

	&__wrapper {
		position: fixed;
		top: 10px;
		right: 10px;
		display: flex;
		flex-direction: column;
		max-width: 200px;
		width: 100%;
	}
}
